/* Global */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(92, 34, 158);
    font-family: arial;
}
/* Header */
.about-header-container{
    background-color: black;
    color: white;
    display: flex;
    height: 200px;
    justify-content: space-between;
    line-height: 2;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding-right: 40px;
}
/* Main */
.mission{
    display: flex;
    justify-content: space-between; 
}
.mission-img{
    width: 100%;
}
.mission-div{
    width: auto;
    line-height: 2;
    padding: 10px;
}
.mission-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Footer */
.contact-footer{
    background-color: lightgrey;
    height: 100px;
    margin-top: 20px;
}    
.footer-div-parent{
display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 38px;
}
.footer-div-c1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ul{
    text-decoration: underline;
}
.footer-div-c2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
.footer-p1{
    font-weight: bold;
    text-decoration: underline;
}
.footer-div-c3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 18px;
}
.fa-brands{
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
}
/* Media Queries */
/* Mobile */
@media (max-width: 956px){
    .about-header-container{
        height: 75px;
        line-height: 1;
    }
    h1{
        padding-bottom: 10px;
    }
    a{
        padding-right: 5px;
    }
    .mission{
        flex-direction: column;;
    }
    .mission-div{
        line-height: 1;
    }
    footer{
        font-size: 10px;
    }
}