*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
b{
    text-decoration: underline;
}
.contact-header{
    background-color: orange;
    height: 200px;
}
.contact-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    text-align: center;
    line-height: 2;
}
.contact-form{
    background-color: #dedede;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.contact-field-1{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    line-height: 1;
    gap: 20px;  
}
.contact-div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-div-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 0px;
    width: 80%;
}
.contact-div-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0px;
    width: 80%;
}
.input-1{
    width: 70%;
    margin-right: 40px; 
}
.input-2{
    width: 30%;
}
textarea{
    width: 70%;
    line-height: 2;
    margin-right: 40px;
}
select{
    width: 70%;
    margin-right: 40px;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Footer */
.contact-footer{
    background-color: lightgrey;
    height: 100px;
}    
.footer-div-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 38px;
}
.footer-div-c1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-div-c2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
.footer-p1{
    font-weight: bold;
    text-decoration: underline;
}
.footer-div-c3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 18px;
}
.fa-brands{
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
}
/* Media Queries */
/* Mobile */
@media (max-width: 956px){
    a{
        padding: 2px;
    }
    .contact-header{
        height: 100px;
    }
    .contact-container{
        line-height: 1;
        padding: 5px;
        width: 95%;
    }
    .input-1, .input-2, textarea, select{
        margin-right: 0px;
    }
    .contact-div-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    .contact-div-3{
        flex-direction: column;
    }
}